body{
    background-image: url(../css/coc\background.png);
    background-attachment: fixed;
    margin: 0;  
}
b{
    text-align: center;
    color: white;
}
h1{
    color: ghostwhite;
}
p{
    color: white;
}
dt{
    color: rgb(64, 116, 230);
}
dd{
    color: aliceblue;
}
ol{
    color: white;
}
.Elixir{
    color:white;
}
dl{
    font-size: 30px;
}
.troops{
    width: 90%;
    margin-left: 150px;
}
h3{
    color:rgb(201, 33, 159)
}